<div class="col-4 offset-4 mt-5	">
		<p> Apply <%= @job.name%> </p>
		<p>Name: <%= @user.name %></p>
		<p>Email: <%= @user.email%></p>
		<p>cv: <%= link_to "file", @user.cv.url if @user.cv.url.present? %>
		<%= simple_form_for(@user,url: update_cv_user_path(@user,@job), html: { method: :put }) do |f| %>
	  <div class="form-group">
	  </div>
	  <div class="form-group">
	  	<%if @user.cv.url.present? %>
	  		<%= f.submit "confirmation job", class: "btn btn-devise"%>
	  		<%= link_to "edit profile", edit_user_path(current_user), class: "btn btn-devise"%>
	  	<% else %>
		  	<%= link_to "update profile", edit_user_path(current_user), class: "btn btn-devise"%>
	  	<% end %>
	  </div>
	<% end %>
</div>