<div class="col-12 mt-4">
  <div class="row col-6 offset-2">
    <h2> Infomation User </h2>
  </div>
  <div class=" col-6 offset-2">
    <p><b>User name:</b> <i><%= @user.name%></i></p>
    <p><b>Phone:</b> <i><%= @user.phone%> $</i></p>
    <p><b>Address:</b> <i><%= @user.address%></i></p>
    <p><b>Email:</b> <i><%= @user.email%></i></p>
    <p><b>cv:</b> <i><%=link_to "cv", @user.cv.url%></i></p>
    <%= link_to "edit profile", edit_user_path(current_user), class: "btn btn-devise"%>
  </div>
  <div class="row mt-4">
    <div class="col-6 offset-2">
      <h2>History Apply</h2>
    </div>
  </div>
</div>
<br>
<table class="table table-hover col-8 offset-2">
  <thead class="">
    <tr>
      <th>ID</th>
      <th>Image</th>
      <th>Title Job</th>
      <th>Category</th>
      <th>Salary</th>
      <th>Apply at</th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |f|%>
    <tr>
      <td><%= f.id %></td>
      <td><%= image_tag "#{f.photo}" if f.photo.present? %></td>
      <td><%= f.name %></td>
      <td><%= f.industry.title %></td>
      <td><%= f.price %></td>
      <td>
          <%= @jobs_users&.find_by(job_id: f.id)&.created_at&.to_date%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @jobs, theme: 'twitter-bootstrap-4' %>