<div class= "container-fluid mt-4">
	<div class="home-page">
		<div class="col-12">
			<%= form_tag(root_path, method: :get) do %>
        <%= select_tag :city_list, options_for_select(City.city_lists.keys.map {|role| [role.titleize,role]}, selected: params[:city_list]), {class: "form-control select2", onchange: "this.form.submit()", prompt: "city list"} %>
      <% end %>
      <div class="mt-2">
      	<div class="row">
					<% @cities.each do |f| %>
						<div class ="item-category col-2">
							<%=link_to f.name, city_path(f)%>
						</div>
					<% end %>
				</div>
				<% @search.each_hit_with_result do |hit, job| %>
				  <div class="col-lg-4 col-md-6 col-12 item-jobs">
						<div class="info-item-jobs">
							<%= image_tag "#{job&.photo}", class: "image-photo-jobs"%>
						  <div class="overlay">
						    <div class="text">Title: <%= job.name %></div>
						    <div class="text">Salary: <%= job.price %></div>
						    <div class="text">Category: <%= job.category.title %></div>
							   <div class="btn-group">
							   	<% if  current_user&.favorited? job%>
							   		<%= link_to "Unfavorite",favorite_user_user_path(job,job),html: { method: :put }, class: "btn btn-apply-item"%>
							   	<% else %>
							   		<%= link_to "Favorite", favorite_user_user_path(job,job),html: { method: :put }, class: "btn btn-apply-item"%>
							   	<% end %>
							   		<%= link_to "Detail", job_path(job), class: "btn btn-show-item"%>
							  </div>
						  </div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>