<div class=" form-devise col-md-8 col-lg-7 col-xl-6">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <p class="title-form">Change your password</p>
    <%= render 'layouts/messages' %>
    <br>
    <%= f.hidden_field :reset_password_token %>
    <div class="form-group">
      <label >New password</label>
      <%= f.input :password, autofocus: true, autocomplete: "off", label:false, input_html: {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <label >Confirm new password</label>
      <%= f.input :password_confirmation, autocomplete: "off", label:false, input_html: {class: 'form-control'} %>
    </div>
    <div class="form-acction text-center">
      <%= f.submit 'Change my password',class: "btn-devise"%>
    </div>
  <% end %>
</div>
