<div class="col-12">
  <div class="row">
    <div class="col-6">
      <h2>Table Industries</h2>
    </div>
    <div class="col-6 text-right">
      <%= link_to "Create new", new_admins_industry_path, class: "btn btn-devise"%>
    </div>
  </div>
</div>
<br>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title </th>
      <th>Position </th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |f|%>
    <tr>
      <td><%= f.id %></td>
      <td><%= f.title %></td>
      <td><%= f.position %></td>
      <td><%= f.created_at.to_date %></td>
      <td><%= f.updated_at.to_date %></td>
      <td>
        <%= link_to "<i class='fa fa-pencil-alt'></i>".html_safe, edit_admins_industry_path(f.id), class: "btn btn-default btn-large" %>
        <%= link_to "<i class='fa fa-trash-alt'></i>".html_safe, admins_industry_path(f.id), class: "btn btn-danger btn-large", data: {:confirm => 'Are you sure?'}, :method => :delete  %>
        <%= link_to "<i class='fa fa-eye'></i>".html_safe, admins_industry_path(f.id), class: "btn btn-primary btn-large" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @categories, theme: 'twitter-bootstrap-4' %>

