<div class="form-devise col-md-8 col-lg-6 sign_up">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <p class="title-form">SME Profile</p>
    <br>
    <div class="form-group">
      <%= f.input :email, autofocus: true, autocomplete: "email",placeholder:'This will also be your contact email
', label: "Contact email", input_html:{ class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :username, autofocus: true , label: "user name", input_html:{ class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.input :current_password%>
    </div>
    <div class="form-group">
      <%= f.input :password%>
    </div>
    <div class="form-group">
      <%= f.input :password_confirmation%>
    </div>
  <% end %>
</div>
